<link rel="stylesheet" href="../../styles.css">
<nav class="navbar">
    <div class="navbar-logo">
        <img src="logo.svg" alt="Logo">
    </div>
    <ul class="navbar-menu">
        <li><a href="/">Home</a></li>
        <div class="dropdown">
            <button class="dropbtn">Customer's</button>
            <div class="dropdown-content">
                <a href="/Customer/add">Add Customer</a>
                <a href="/Customer/view">View Customer</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Entries</button>
            <div class="dropdown-content">
                <a href="/entries/add">Add Entries</a>
                <a href="/entries/view">View Entries</a>
            </div>
        </div>
        <li><a href="led">IOT Control</a></li>
    </ul>
</nav>