<!DOCTYPE html>
<html>

<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="../index.css">
  <link rel="manifest" href="../standalone.json">
</head>

<body>
  <div class="grid-container">
    <div class="item1">{{> navbar}}</div>
    <div class="item2">{{> sidebar}}</div>
    <div class="item3">
      {{> dashboard/pending}}
    </div>
    <div class="item4"><a href="http://github.com/aaru911"
        style="color: rgb(255, 255, 255); font-family: Apple Symbols;">@Araya Bhagat</a></div>
  </div>

</html>