<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Entry</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../add.css">
</head>

<body>
{{> navbar}}
    <br>
    <form action="/entries/add" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="Name" required="true"><br>
        
        <label for="phone">Phone No.:</label>
        <input type="number" name="phone" id="phone" placeholder="Phone No."required="true"><br>
        
        <label for="nop">Number of People:</label>
        <input type="number" name="nop" id="nop" placeholder="Number of People" value="1" required="true"><br>
        
        <label for="ac">Number of AC rooms:</label>
        <input type="number" name="ac" id="ac" placeholder="Number of AC rooms" value="0" required="true"><br>
        
        <label for="nonac">Number of non AC rooms:</label>
        <input type="number" name="nonac" id="nonac" placeholder="Number of non AC rooms" value="0" required="true"><br>
        
        <label for="checkin">Check-in date:</label>
        <input type="date" name="checkin" id="checkin" placeholder="Check-in date" min="{{getCurrentDate}}" required="true" min='$todaymin'><br>
        
        <label for="checkout">Check-out date:</label>
        <input type="date" name="checkout" id="checkout" placeholder="Check-out date" min="{{getCurrentDate}}" required="true" min='$todaymin'><br>
        
        <input type="submit" value="Add Entry">
    </form>
    <br>
    <br>
    <br>
</body>
<script>
const date = new Date();
let day = date.getDate();
let month = date.getMonth() + 1;
let year = date.getFullYear();
// This arrangement can be altered based on how we want the date's format to appear.
let currentDate = `${year}-${month}-${day}`;
document.getElementById("d1").value = currentDate;
document.getElementById("d2").value = currentDate;

</script>

</html>