<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="../styles.css">

</head>

<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                <path
                    d="M25 0C11.2 0 0 11.2 0 25s11.2 25 25 25 25-11.2 25-25S38.8 0 25 0zm0 47C12.9 47 3 37.1 3 25S12.9 3 25 3s22 9.9 22 22-9.9 22-22 22z" />
                <path
                    d="M25 11.5c-7.7 0-14 6.3-14 14s6.3 14 14 14 14-6.3 14-14-6.3-14-14-14zm0 25c-6.6 0-12-5.4-12-12s5.4-12 12-12 12 5.4 12 12-5.4 12-12 12z" />
                <path
                    d="M25 17.5c-2.8 0-5 2.2-5 5s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5zm0 8c-1.7 0-3-1.3-3-3s1.3-3 3-3 3 1.3 3 3-1.3 3-3 3z" />
            </svg>
        </div>
        <ul class="navbar-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/add">Add Entry</a></li>
            <div class="dropdown">
                <button class="dropbtn">Dropdown</button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <li><a href="view">View Entries</a></li>
        </ul>
    </nav>

    <div class="container">
        <aside class="sidebar">
            <!-- Sidebar content goes here -->
        </aside>

        <main class="content">
            <!-- Main content goes here -->
        </main>
    </div>

    <footer>
        <!-- Footer content goes here -->
    </footer>
</body>

</html>