table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="submit"] {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.search_sort_filter {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FILEPATH: /Users/aaru/Documents/Project/CRM/views/view.css */
/* BEGIN: 7e4f5g6h7i8j */
details {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f5f5f5;
}

summary {
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    content: '+';
    display: inline-block;
    margin-right: 0.5rem;
}

details[open] summary::before {
    content: '-';
}

.reset-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #f44336;
    color: #1a1010;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.reset-button:hover {
    background-color: #d32f2f;
}

.reset-button:active {
    background-color: #b71c1c;
}

select {
    margin: 5px;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
}

select:focus {
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

a,a:not([href]):not([tabindex])  {
    
    text-decoration: none;
    color: #b92323;

}
a:hover {
    color: #df892e;
    text-decoration: underline;
}